[2015-01-26 22:43] chandadharap opened #7 "Spike: Refactor and clean up Juggle/Connector code to make it easy for enhancement and outside collaboration"
The result should be a wiki doc if needed and concrete list of improvement stories under the Epic "Connector Refactor"

[2015-02-09 06:11] chandadharap commented on #7
Raymond, can you point me to the doc/wiki for this please.

[2015-02-09 06:18] raymondfeng commented on #7
See https://drive.google.com/open?id=0BwlQTTJ8DU96MzdqQ1QwXzZmLW8&authuser=0

[2015-02-23 04:39] chandadharap commented on #7
Assigned to myself, assuming Raymond forgot.

[2015-02-23 04:47] chandadharap commented on #7
@raymondfeng The link points to you PPT presentation from f2f. I followed all the way to the last slide with a link to the Roadmap. Found nothing.  What am I missing?

Please create a concrete list of improvements stories under the right Epic as described and as we discussed.  Or a wiki doc with specific items and approach. This is  the acceptance criteria as described.

https://waffle.io/stronglo

[2015-02-26 06:22] chandadharap commented on #7
This is from Sprint 64, and not yet resolved.

[2015-02-26 18:46] chandadharap commented on #7
Connector Refactor has stories. closing.

[2015-02-26 18:46] #7 closed

[2015-03-19 23:46] pulkitsinghal opened #10 "Model is re-created despite existence check"
Needless to say, I'm using `loopback-connector` for writing a new connector.

In my connector, I try to create users and the first time it works reasonably well but the second time I can see calls to `prototype.all()` with a `where` clause like: `{ where: { email: 'userWithStringId@shoppinpal.com' } }` and upon returning a response to the `loopback-connector`'s callback method ... it still goes ah

[2015-03-20 00:02] pulkitsinghal commented on #10
Logs with comments from when I run it are here: https://gist.github.com/pulkitsinghal/7ecee64a4d9fbff250a7

[2015-03-20 15:04] pulkitsinghal commented on #10
FYI: the boot script `02-findOrCreate-user.js` in https://github.com/ShoppinPal/loopback-connector-elastic-search/master/examples doesn't have the same issues as `02-create-user.js`

[2015-03-20 16:32] raymondfeng commented on #10
@pulkitsinghal I was able to run your ES connector w/ a local ES server. I think the behavior is as expected.
Here is the flow:
1. You try to create an instance with id ‘4'
2. Before creation, the uniqueness check of username and email kicks in and two queries (find) are run against your connector.
3. Queries return an array of results, which contains one record with id = ‘4'
4. Uniqueness check i

[2015-03-20 17:10] pulkitsinghal commented on #10
Thank You for the clarification :smile:

[2015-03-20 17:10] #10 closed

[2015-04-28 16:10] raibutera opened #12 "should "getMedadata" be "getMetadata"?"
in [lib/connector.js](https://github.com/strongloop/loopback-connector/blob/master/lib/connector.js) the method to retrieve meta data is called "getMedadata" - is this a typo? what are the implications of fixing this typo?

[2015-04-28 16:12] raymondfeng commented on #12
I caught it too and am fixing it.

[2015-05-05 15:20] raymondfeng opened #13 "Document the base Connector/SqlConnector and how to extend them"
Document the base functions provided by Connector/SqlConnector
Document the abstract functions that should be implemented by connectors
Document how to extend from Connector/SqlConnector

[2015-05-05 15:21] raymondfeng opened #14 "Rebase RDB connectors' CRUD implementations to the refactored SqlConnector"
- [x] Update mssql connector implementation to leverage the base SqlConnector
- [x] Update oracle connector implementation to leverage the base SqlConnector
- [x] PR for loopback-connector
- [x] PR for loopback-datasource-juggler
- [x] PR for loopback-connector-mysql
- [x] PR for loopback-connector-postgresql
- [x] PR for loopback-connector-mssql
- [x] PR for loopback-connector-oracle
- [ ] Releas

[2015-05-05 15:22] raymondfeng opened #15 "Refactor the migration/discovery logic into base SqlConnector with extension points"
There are common functions to handle migration and discovery for relational databases. As a developer, we would like to refactor such logic into the base SqlConnector class and allow connectors to extend from them.

### Tasks:
- [x] loopback-connector base
  - [x] Discovery
  - [x] Migration
- [x] db2 (loopback-ibmdb extends SQLConnector in loopback-connector)
  - [x] Discovery
  - [x] Migration
-

[2015-05-13 23:33] #14 closed

[2015-05-13 23:34] #13 closed

[2015-05-16 15:10] clarkbw commented on #12
looks like this was fixed in a20fa8ada83a7019f0181d30810f4413d4fc62d9

[2015-05-28 14:13] nvdnkpr opened #19 "Support for NoSQL connector ?"
Are their any plans to create respective NoSQL connector, which forces to implement functions like `applyPagination` etc?

It's obvious that a connector which transforms a certain structure into a structured language (and vice versa) is somehow restricting the concept of a "No"SQL database ;).

The intention behind my question is that I'm currently re-factoring the [loopback-connector-arangodb](ht

[2015-06-01 21:11] ryedin opened #20 "undefined is not a function (testing connection via Arc)"
trying to test the Oracle connector (via Arc) results in the following:

[code]

Digging in reveals https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L407, which references a method called `notifyObserversAround`, which for all I've been able to tell isn't defined anywhere in the project.

[2015-06-01 21:22] ryedin commented on #20
Are you using an AOP library here, and maybe just forgot to add a dep to the package.json?

[2015-06-01 22:07] raymondfeng commented on #20
What is the version of loopback-datasource-juggler? The observer related methods are mixed in by https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L187.

[2015-06-01 22:43] ryedin commented on #20
OK. We had version 2.26.4 of juggler. Updating that to latest makes it work.

Should juggler be a dep of this repo then, instead of just a dev-dep, so npm would have complained about an unmet dependency when we added this to our project?

[2015-06-01 22:49] raymondfeng commented on #20
There is a bit chicken/egg issue. `loopback-datasource-juggler` depends on `loopback-connector` at the moment. But `loopback-connector` also depends on `loopback-datasource-juggler` for testing purposes. We plan to refactor `loopback-datasource-juggler` into multiple modules in the future.

[2015-06-01 22:49] #20 closed

[2015-06-01 22:54] ryedin commented on #20
OK, well, in the meantime, anyone else who has previously installed juggler and then installs this is going to be faced with the same issue. Can you use dependency injection and inspect the version of juggler in here and output a warning if a mismatch is found?

[2015-06-02 14:50] bajtos commented on #20
+1

[2015-06-02 14:51] bajtos commented on #19
@raymondfeng could you PTAL? I think you are the most competent person to answer this question.

[2015-06-02 14:52] #12 closed

[2015-06-02 15:48] nvdnkpr commented on #19
Just for clearity:
I already built a connector based on the normal connector, where I implemented the methods used for the CRUD methods. The connector also has a query method, and since ArangoDB supports transactions there is also a transaction method.
When comparing the SQLConnector methods with my own connector, I see a lot of helper and inner anonymous methods in my connector that have the same

[2015-06-02 15:51] nvdnkpr commented on #19
Or this is the second part of the question: Since ArangoDB provides itself a query language, is there more sense in having a QLConnector and then you build a MySQL, PostgreSQL, AQL or whateverQL by inherting from it ? Perhaps the current interface of the SQL Connector is enough and it should just be renamed to QLConnector :smile:

[2015-06-08 08:20] mrbatista commented on #19
@raymondfeng we are waiting for your clarification.
This is the same reason why I asked for [clarification](https://groups.google.com/forum/#!topic/loopbackjs/xrFnd-3CwX0) in google group.

i thank you in advance for your time and consideration.

[2015-06-08 15:22] raymondfeng commented on #19
Maybe we can further refactor the base classes into `Connector` --> `DBConnector` --> `SQLConnector`?

[2015-06-08 22:48] nvdnkpr commented on #19
to be able to answer this I think you should clarify why their is a SQLConnector in the first place ? Is it e.g. in order to have finer control over the connectors, so (just as an example) the auto migration can then automatically call methods to create tables , instead of bring implemented by the author of the connector? Also there is a trend towards different types of databases (graph-, key/valu

[2015-06-08 22:54] raymondfeng commented on #19
I think you are on the right track. One idea I have in mind to decouple the model/connector features into a set of `mixins` (or `interfaces`). For example, MySQL connector implements:

- KV store
- Pub/sub
- Full CRUD
- Discovery
- Migration
- Transaction

The base classes such as `Connector` or `SQLConnector` provides partial implementation of common methods.

[2015-06-09 09:06] nvdnkpr commented on #19
I guess that will go into 2.3 ? or is it compatible with 2.2 ?

[2015-06-11 12:20] mrbatista commented on #19
Any ETA of this features?

[2015-06-20 16:17] steegi opened #21 "Request to add the ability to modify the context in a connector hook"
Please provide the ability to modify the query in the connector hook through the context object. I.e. use the passed in context object for the parameters when executingSQL in notifyObserversAround rather than using the parameter definitions from the closure.

I am using this in the MySQL connector to patch up the generated SQL queries with SQL calculated properties. I.e. to work around being able

[2015-06-20 16:46] raymondfeng commented on #21
Sounds good. Look forward to the PR

[2015-06-21 16:27] steegi commented on #21
Here you go: https://github.com/strongloop/loopback-connector/pull/22

[2015-06-22 21:16] nvdnkpr commented on #19
Hello Raymond,
what is the time plan for the decoupled connector method. I mean we could start writing a ```NoSQLConnector``` for an document and graph databases  and then decouple into the ```interfaces```/```mixins``` when you are ready.

[2015-06-23 17:59] mayur-arora opened #23 "Ability to add Dynamic Request Headers"
I should be able to add / manipulate request headers in a remote method . In my data source file, I've defined a data source with some default headers
"headers": {
            "accepts": "application/json",
            "content-type": "application/json"
        }

I've also defined an operation (template (POST) + function) in the operations array. Now I have a remote method that uses this operatio

[2015-06-23 21:24] eugenehp commented on #23
@mayur-arora
a workaround
[code]

[2015-06-24 03:46] mayur-arora commented on #23
@eugenehp I want to set request headers, the example that you've shared sets response headers.

[2015-06-24 08:08] mayur-arora commented on #23
So I managed to achieve this . Added the 'options' object in the template of the operation, with the initial values of the headers set to empty strings. I use 'beforeRemote' :
var ds = modelName.getDataSource(),
            myOperation = ds.settings.operations[2],
            headers = myOperation.template.options.headers;
        headers['X_USER_ID'] = context.req.session.username;
        header

[2015-06-24 09:24] mayur-arora commented on #23
Found an even better solution. Passed the values for the two headers as parameters to remote method , and use them to set the options.headers in the operation
"options":{
                    headers:{
                       "X_USER_ID":"{userId}",
                        "X-TRANSACTION-ID":"{transactionId}"
                    }
                },

            "functions":{
                "myMeth

[2015-07-14 19:01] raymondfeng opened #24 "Add support for stored procedures as a model method"
It would be nice to support stored procedures as model methods, for example:

MyModel.myProc = function(x, y, cb) {
...
}

For the SQL based connectors, we can declare such mapping as part of the model settings, for example,

[code]

[2015-08-06 14:06] mercuriete opened #28 "loopback-connector-redis and include filter"
there are no way to submit a bug in the loopback-connector-redis github project so i will submit it here.

I'm trying to create a hasOne relation between a mysql table with a model that uses a redis connector.

When you are querying only 1 element it works but when you query several elements, the redis indexes doesnt work properly and then return only the result of the first table without the rela

[2015-08-06 14:56] raymondfeng commented on #28
I just turned on issue tracking for https://github.com/strongloop/loopback-connector-redis. Can you recreate the issue there to avoid confusion? Thanks!

[2015-08-06 14:56] #28 closed

[2015-08-06 15:54] mercuriete commented on #28
thanks :)

[2015-08-27 22:37] iamonlyone commented on #23
@mayur-arora Thank you. You made my day :+1:

[2015-09-21 17:26] bajtos commented on #21
#22 was landed, I am closing this as done.

[2015-09-21 17:26] #21 closed

[2015-12-15 21:24] jannyHou commented on #23
hey @mayur-arora @eugenehp @iamonlyone  Thank you all for providing workaround to solve the problem! And we also explained how to get current user in [remote method](https://docs.strongloop.com/display/public/LB/Using+current+context#Usingcurrentcontext-Usecurrentauthenticateduserinremotemethods) in document. And I believe this is the most quickly way to get user info at this moment. Hope you find

[2015-12-15 21:24] #23 closed

[2016-03-09 16:44] qpresley opened #37 "isNullable does not honor connector specific stanza's in property definitions"
Connector.isNullable does not take into account relational database stanza's in the model definition.  According to the docs the user should be able to specify a connector specific stanza for each column which contains a number of fields.  Most need to be explicitly handled by the specific connector however nullable can be handled by loopback-connector since it is generic

[2016-03-10 20:27] RossWilliams opened #38 "Latest commits to master missing tag / npm update"
2.x-latest tag is missing bugfixes #30  #34  and #33  .
Consider releasing 2.3.1 with included bugfixes.

[2016-04-09 08:06] devotis opened #45 "What's the etymology of ".ok\W+to\W+test.""
I'm seeing ".ok\W+to\W+test." a lot. What does it mean? It seems that a branch is ok to be tested. I notice the \W+ too as in at least 1 some not \w character. I'm specifically curious about the etymology of this 'word'.

[2016-04-18 19:41] Amir-61 commented on #45
Hey @devotis,

"ok to test" and "@slnode test please" are the words which trigger out Tests on our Jenkins for PRs. Please ask this kind of questions in out [Google Community](https://groups.google.com/forum/#!forum/loopbackjs). I'm closing this **ticket... Thanks!

[2016-04-18 19:41] #45 closed

[2016-04-22 17:31] zenflow opened #47 "Model-specific schema not respected by SQL building methods"
We are working with a legacy database that has our data divided among different schemas.

As per the documentation, I should be able to set the schema for an individual model.
https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Datasource-specificoptions

However, `SQLConnector` does not specify any schema in the SQL statements that it builds, even thou

[2016-05-10 13:04] bajtos commented on #47
Hi @zenflow, sorry for the delay. I am not very familiar with this aspect of connectors, but your proposal looks good to me in principle. To prevent breaking changes, perhaps we could add a new datasource setting to enable this new behaviour?

It would be great if you could contribute this change yourself!

[2016-05-10 15:41] raymondfeng commented on #47
It's a general configuration scheme.

1. The data source settings should have the option to specify default DB schema.
2. Each model can override it using https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Datasource-specificoptions

Most connectors should have supported 2. If you see otherwise, please let us know which one has issues.

[2016-05-10 15:48] raymondfeng commented on #47
If you propose to enhance https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L229 to consider `schema`, +1.

[2016-06-01 10:31] dongmai opened #48 "AssertionError: beginTransaction must be function implemented by the connector"
Hi,

I got this error when trying to create a transaction as docs : https://docs.strongloop.com/display/public/LB/Using+database+transactions .

I'm using MongoDB.

Can someone please take a look?  Many thanks.

[2016-06-29 23:46] awsp commented on #24
+1 for this.

[2016-07-12 16:29] emazzu opened #52 "do you have an example, how to work email connector ?"
datasources.json

    "emailGoogle": {
        "name": "mail",
        "defaultForType": "mail",
        "connector": "mail",
        "transports": [
            {
                "type": "SMTP",
                "host": "smtp.gmail.com",
                "secure": true,
                "port": 465,
                "auth": {
                    "user": "XXXX@gmail.com",
                    "pass": "

[2016-07-22 18:34] crandmck opened #54 "Problems with API docs"
In http://apidocs.strongloop.com/loopback-connector/, API docs for base `Connector` and `SQLConnector` are missing even though `docs.json` has:

[code]

However docs for `ParameterizedSQL` seem to be displayed correctly.

So, something's wrong / broken, but it's not obvious what.

@superkhau @richardpringle @hacksparrow If you can give me an idea of what's going on, I will fix it, but I'm at somet

[2016-07-27 19:35] 0candy commented on #52
Hi @emazzu,
Did you take a look at the docs?
https://docs.strongloop.com/display/APIC/Email+connector

Let me know if that helps.

[2016-07-27 19:36] emazzu commented on #52
Regards

It works good !!! I have resolved !!!

2016-07-27 16:35 GMT-03:00 Candy <notifications@github.com>:

[2016-07-27 19:41] 0candy commented on #38
Release 2.4.0 contains those 3 fixes. Closingt this issue. Please let me know if it doesn't and I will reopen this issue.
Thanks!

[2016-07-27 19:41] #38 closed

[2016-07-27 19:43] 0candy commented on #52
Awesome, thanks for the update. :)
Closing this issue.

[2016-07-27 19:43] #52 closed

[2016-08-16 19:58] 0candy commented on #48
Hi @dongmai , the reason you are getting the error is because beginTransaction is not implemented for MongoDB. Please try with the listed connectors in the doc. Thanks!

[2016-08-16 19:58] #48 closed

[2016-08-18 05:05] dongmai commented on #48
We should update the docs for others (maybe like me) to reference ?

[2016-09-04 20:02] tlloydukdev commented on #24
+1

[2016-10-25 10:42] talpasco commented on #24
+1

[2016-11-11 18:24] crandmck commented on #54
@hacksparrow Could you PTAL?   I don't know how to fix this, but we need to do so!

[2016-12-06 09:47] xyz327 opened #70 "hasManyThough relation the generated SQL does't match the expected"
When I use hasManyThough relation find the other Model data with or operator
.eg :
  a App model and a User model is hasManyThough relation
 use the `Apps/{id}/users`  API find users
![image](https://cloud.githubusercontent.com/assets/6970681/20920244/d1529f20-bb64-11e6-8aac-5ddec5717d3d.png)
the filter is
[code]

the `lib/sql.js` generated the SQL where clause does not match the expected
the expe

[2016-12-12 20:09] kjdelisle commented on #15
@raymondfeng When you say "allow connectors to extend from them", do we have a design in mind for how a plugin will share its functionality across/through the loopback-connector module?

[2016-12-21 18:11] raymondfeng commented on #15
We should follow the same pattern as how individual connectors extend `SqlConnector` (from loopback-connector) for CRUD methods based on JS inheritance.

[2017-01-06 22:13] kjdelisle opened #71 "updateAttributes race condition in loopback-connector-dashdb"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
loopback has a requirement on calls to the update function where it must return the number of rows modified.  This is fine for MySQL which returns this information but for DB2/DashDB/DB2 z/DB2i/Informix and possibly others this has to be hacked at through complex SQL.  In the DB2/

[2017-01-10 21:28] jannyHou commented on #15
@raymondfeng I made some investigation of this story, and paste the proposal here, can you take a look and share some suggestions? Thanks :)

Copy from the spike story:

---
SQL connectors involved in this story:
  - db2 (`loopback-ibmdb` extends SQLConnector in `loopback-connector`)
  - dashdb
  - db2iseries
  - db2z
  - informix
  - mysql
  - postgresql
  - mssql
  - oracle

---
Discovery:
5 dis

[2017-01-13 08:27] xyz327 commented on #70
sorry, my way is wrong.

[2017-01-13 08:27] #70 closed

[2017-02-01 01:04] raymondfeng commented on #15
@jannyHou What you have is a good starting point.

IMO, we probably need to build two levels of APIs:

1. Low level
  - discoverSchemas
  - discoverTables/Columns
  - discoverPrimaryKeys
  - discoverForeignKeys
  - discoverConstraints (such as uniqueness)
  - discoverIndexes
  - discoverStoredProcedures

  - createTable
  - dropTable
  - alterTable
    - addColumn
    - updateColumn
    - dropColu

[2017-02-23 18:06] ssh24 commented on #15
## Refactor migration

**Beware: the table gets updated frequently (after a function is refactored for a db)**

A table listing **available migration functions** in each connector:

|                                      | mysql | postgresql | mssql | oracle | db2 | ibmdb | informix |
|--------------------------------------|-------|------------|-------|--------|-----|-------|----------|
| getTable

[2017-02-24 19:14] ssh24 commented on #15
**Beware this comment is updated frequently**

## Refactor to base-connector checklist:
 - [x] autoupdate (all connectors, mysql overrides it)
 - [x] getTableStatus (all connectors, oracle overrides it)

## Refactor to ibm-db connector checklist (only for db2 and dashdb):
  - [x] alterTable
  - [x] isActual
  - [x] showIndexes
  - [x] showFields

[2017-02-24 21:28] 0candy commented on #54
@crandmck It doesn't like the square brackets used in the comments section. Need to remove them before it will generate it.
[code]

[2017-02-24 22:36] crandmck commented on #54
Ah, thanks @0candy !  I think we need to use `Array.<type>` as in http://apidocs.strongloop.com/loopback/#app-definemiddlewarephases.  I'll open a PR asap.  This has been open for too long!

[2017-02-28 21:19] jannyHou commented on #15
**IMPROVE DISCOVERY REFACTOR**

- [ ] Improve getArgs: extract it into base connector
- [ ] Improve setDefaultOptions: have a default implementation in SQLConnector

[2017-03-06 02:12] jannyHou commented on #15
DISCOVERY

discoverDatabaseSchemas
- buildQuerySchemas
  - paginateSQL

discoverModelDefinitions
- buildQueryTables
- buildQueryViews

discoverModelProperties
  - getDefaultSchema
  - setDefaultOptions
  - buildQueryColumns
  - buildPropertyType
  - setNullableProperty
  - getArgs

discoverPrimaryKeys
  - buildQueryPrimaryKeys
  - getArgs
  - getDefaultSchema

discoverForeignKeys
  - buildQueryFor

[2017-03-06 02:22] jannyHou commented on #15
MIGRATION - functions extracted to base connector:

**autoupdate**
  - **getTableStatus**
    - **showFields**
    - **showIndexes**
  - **alterTable**
  - createTable

**isActual**
  - getTableStatus
  - **getAddModifyColumns**
  - **getDropColumns**
    - **getColumsToDrop**

**searchForPropertyInActual**

**addPropertyToActual**
  - **columnDataType**
    - **buildColumnType**

**propertyHasNot

[2017-03-15 15:15] kjdelisle commented on #15
Alter table has not yet been completed. Please refactor the alter table functionality and remember that _Oracle connector has already been released, and will need a major version bump to accommodate the new alter table API in loopback-connector!_

[2017-03-15 16:42] kjdelisle commented on #54
@crandmck Can you link to the PR if it already exists?

[2017-03-15 16:43] kjdelisle commented on #54
Please reassign this item to us with the team-apex label if it's headed back our way. :)

[2017-03-15 21:32] crandmck commented on #54
PR is #80 but I got stuck and then got busy with other stuff.  @kjdelisle if someone on your team could figure it out, that would be a big help!!

[2017-04-02 23:40] #15 closed

[2017-04-10 02:36] angelwithaneye opened #95 "Add support for filter-through-relation"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature
Provide the ability to query models by their relations (using joins or subqueries).

Example Models:

Appointments belongsTo ServiceCall
ServiceCall hasMany Appointments

## Relation filter options:

Simple equality through relation:

[code]
Expected Result:

Should return all Appointments having serviceCall wi

[2017-04-10 23:27] raymondfeng commented on #95
@angelwithaneye Can you submit a patch via pull request? See https://help.github.com/articles/creating-a-pull-request/.

[2017-04-12 10:31] AndreyKis opened #98 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected"
Good evening. I have been working with your connector for about 2 months on one project and had this error message all the time, since adding your connector:
`(node:13848) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit`

Today I started looking for a way to get rid of this warning and found almo

[2017-06-22 17:07] ssh24 commented on #54
PR landed. Story ready to be closed.

[2017-06-22 17:07] #54 closed

[2017-06-23 17:29] crandmck commented on #54
TYVM, @ssh24 !! :-D

[2017-06-30 17:53] loay commented on #98
Hi @AndreyKis
Thanks for reporting that.. I will look into it.

[2017-09-05 17:56] #24 closed

[2017-09-05 17:56] #71 closed

[2017-09-05 17:56] #37 closed

[2017-09-05 17:56] #19 closed

[2017-09-05 17:56] #95 closed

[2017-09-05 21:09] nvdnkpr commented on #19
ping

[2017-09-12 18:27] #98 closed

[2017-11-28 05:01] joshrickert commented on #98
I'm getting the same warning. It appeared once I added more than ten elements to the array I was passing into the `automigrate` method. The error disappeared once I split up my array and made multiple calls to `automigrate` instead.

[2017-12-12 09:47] phuttipong opened #121 "Loopback process exit if JSON.parse throw error."
# Description/Steps to reproduce

From [sandbox](https://github.com/phuttipong/loopback-sandbox/tree/feature/fix_issues_121)
1. run 'setup.mysql.sh' script to create mysql docker container.
2. start loopback by `npm start`
3. goto http://localhost:3000/explorer/#!/message/message_create and POST new message with `{"body":"text"}`
4. open /server/models/message.json and change 'body' property type

[2017-12-12 10:29] phuttipong commented on #121
I can not push my branch and create PR. So let me post my solution here.

in /lib/sql.js at line 1422
[code]

[2017-12-13 04:41] #121 closed

[2018-02-04 17:49] yousafsyed commented on #98
Please open the bug again, Since it was never resolved.
I have only 8 models and I am using following option in 7 relations only
`"nestRemoting": true` and I get the error

`Possible EventEmitter memory leak detected. 33 mounted listeners added. Use emitter.setMaxListeners() to increase limit`

If I remove the nestRemoting option from one of those warning goes away.

[2018-02-13 20:15] RevanthNy opened #123 "unbound parameter error"
I try to use the CRUD operation methods for example create method but it throws the error as follows

SQL: INSERT INTO "PostWithNumId"("id","title","content") VALUES(?,?,?), params: [1000,"ab","AAAB"] +5ms Error: {"message":"not all variables bound: unbound parameter : 1 of 3, 1 out of 1 batches","code":340,"sqlState":"HY000","level":1,"position":0} +5ms

This error appears only when passing the p

[2018-03-11 04:21] surinderrawat1987 commented on #23
Any updates on this in LoopBack 3 ?

[2018-03-20 23:21] RevanthNy commented on #123
@bajtos thanks for the reply, it was fixed, I used a prepared statement execution of SQL query method and it worked fine by binding the parameters.

[2018-03-20 23:22] #123 closed

[2018-03-21 00:03] RevanthNy opened #124 "temporary tables support"
Does loopback provide support for temporary tables creation in database (giving table a session scope)? If so how can it be supported like the steps for creation of temporary tables.
It is no where seen in the documentation. Is it really supported or implemented by loopback or any of the connector's , regarding the temporary tables concept with loopback ORM.

Would be nice to hear some thing about

[2018-03-23 13:47] bajtos commented on #124
I don't think we support temporary tables as a first-class feature. However, you should be able to create them by making native SQL queries yourself, see https://loopback.io/doc/en/lb3/Executing-native-SQL.html

[2018-05-31 13:08] HugoPoi opened #125 "Filtering with non existing / declared field is ignored / skipped"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
1. Insert 10 rows in a model/table
1. Model.find({where: { nonexistingfield: 'test' } })
1. Return 10 rows

https://github.com/strongloop/loopback-connector/blob/97d2aea8686a2c66070696a73d23be0a76d14b97/lib/sql.js#L1096-L1100

### Expected result
Return 0 (Memory connector return

[2018-07-09 07:27] MatusKnizka opened #128 "No possibility to create update query - missing parameter excludeIds"
Hello guys,

I would like to use updateAll() function to update a row in DB2 database. My connection to resource is okay, I can work with data (Get, or Create), but in case I am trying to use update functionality, it's returning an error.

I was debugging in code, and found that my problem is with options, concretely with excludeIds parameter. In case this parameter is not sent,  in function `buil

[2018-08-13 09:59] regevbr opened #131 "AutoUpdate needs to have order when executing index related opertaions"
# Description/Steps to reproduce

Auto update generates ordered statements on indexes, so that it will drop the existing index and recreate it.
Because of the async execution of all the statements, the add index can run before the drop index which causes the update to fail.

# Expected result

index related operations while updating should be done in a dependent matter and only after all coulmns w

[2018-08-13 11:35] regevbr commented on #131
You can delete this I opened it in the wrong project. Relevant issue - strongloop/loopback-connector-mssql#191

[2018-08-13 15:07] #131 closed

[2018-09-27 11:21] cr21 commented on #48
Hi Did you get any solutions for how to implement transaction for mongo db

[2018-11-21 20:49] marvinirwin opened #133 "sql.js creates invalid SQL if columns in an and/or filter are invalid"
# Description/Steps to reproduce

Use this filter on a model connected to a RDBMS (assuming `asd` and `dsa` are not columns, and that `id` is) and you will cause an SQL syntax error.

`{"where": {"id": 1, "and": [{"asd": 1}, {"dsa": 2}]}}`

# Link to reproduction sandbox

[code]

https://github.com/marvinirwin/loopback-sandbox/tree/empty-where

# Expected result

Loopback ignores unknown columns i

[2018-11-22 03:12] dhmlau commented on #133
@marvinirwin , looks like you have a fix. Would you like to submit a PR?

[2019-02-15 05:57] chi-tran commented on #48
Mongo supports transaction will the connector be updated?

[2019-02-20 12:54] JuergenSimon opened #139 "Error on camelCase properties in autoupdate"
# Description/Steps to reproduce

* Latest loopback-connector (4.6.0)
* Run autoupdate procedure with AccessToken (for example) in model config. Anything else with camelCase properties will work as well.

The following error occurs:

[code]

In this case the reason is the `principalType` property, which is converted to `principaltype` at some point and consequentially is no longer found at this po

[2019-02-22 15:04] atakanyenel opened #140 "4.6.0 revert causes tests to fail"
hello people, our tests are failing because the test suite can't find loopback-connector@4.6.0. I saw that you reverted the release but while we are not directly using the loopback-connector in package.json, it's a dependency of a dependency (another loopback package I presume) and they use version 4.6.0 so it ends up in our package-lock.json.

The only workaround I found so far is to declare last

[2019-02-23 02:25] ndro commented on #140
+1

this is make me error when npm install / npm ci
[code]

any solution of this?

[2019-02-23 22:26] dhmlau commented on #140
@b-admike , I think you're aware of it and working on a resolution?

[2019-02-24 10:17] ndro commented on #140
Seems like @atakanyenel do.

The simple think what I do to fixed this error is manually install and save `loopback-connector` on my loopback :

`npm install --save loopback-connector`

and, of course, loopback-connector@4.5.1 will installed.

[2019-02-26 16:41] b-admike commented on #140
Hi @atakanyenel @ndro Sorry for the inconvenience. I've released `4.6.1` as the latest version, so that should fix your issue.

[2019-02-26 16:43] b-admike commented on #139
Hi @JuergenSimon This should be fixed by https://github.com/strongloop/loopback-connector-postgresql/pull/365.

[2019-02-26 16:54] atakanyenel commented on #140
yep, saw it in npm. Doing a couple of cache cleaning and npm updates fixed it. Closing the issue now.

[2019-02-26 16:54] #140 closed

[2019-04-18 07:26] bajtos opened #143 "Connector helpers to obtain INDEX and FOREIGN KEY configurations from model definitions"
_This is a follow-up task for the proposal outlined in https://github.com/strongloop/loopback-next/issues/2712._

Implement a helper functions in base `Connector` class to process index and foreign-key definitions in an unified way and convert them into data suitable for consumption by connector implementations. The helpers should gather both model-level and property-level definitions, apply datab

[2019-04-18 07:28] bajtos opened #144 "Spike: a template implementation of index & constraint migration in SqlConnector"
_This is a follow-up task for the proposal outlined in strongloop/loopback-next#2712._

The intention is to share as much of index/FK migration logic among all SQL connectors, to ensure consistent behavior. This spike will allow us to better understand the effort needed to implement migration in our SQL connectors (https://github.com/strongloop/loopback-next/issues/2332).

When working on the spik

[2019-05-30 18:29] b-admike commented on #144
Timebox this spike for week and a half.

[2019-08-12 23:56] codejamninja opened #151 "SQL Join"
How do I get this to generate a true sql join?

[2019-08-29 15:13] bajtos commented on #151
That's a good question, indeed 😄

I don't think there is anybody having a good answer for that, somebody will need to do a bit of research.

A high-level overview from the top of my head:

- First, we need to disable juggler's handling of `filter.include`. At the moment, juggler tries to handle relations itself. What we need: juggler should simply forward `filter.include` to the connector, possibl

[2019-08-29 17:06] codejamninja commented on #151
I would like to know how this relates to https://github.com/strongloop/loopback-next/pull/2359

[2019-09-19 16:51] a-astakhov opened #152 "TypeError: this.dataSource.getMaxOfflineRequests is not a function"
Hi guys, after latest update I'm having next error in my loopback instance

# Description/Steps to reproduce
[code]

It raises when calling autoUpdate function for a postgresql model

# Additional information
darwin x64 8.16.0

├── loopback@2.42.0
├── loopback-boot@2.28.0
├── loopback-component-explorer@2.7.0
├── loopback-component-storage@3.6.3
├── loopback-connector-postgresql@3.8.0
├── loopback

[2019-09-20 05:21] whomobile commented on #152
I got the same error from this morning.  I am trying to force npm to use previous version, can't find a way to do that.

[2019-09-20 05:31] whomobile commented on #152
It looks adding below to package.json can workaround issue.
` "loopback-connector": "4.8.0",`

[2019-09-20 05:51] a-astakhov commented on #152
We added version 4.7.0 as version 4.9.1 in our private repo to fix it.

[2019-09-20 05:53] whomobile commented on #152
I am sure that also do the trick :-) without changing package.json.

[2019-09-20 06:25] whomobile commented on #152
@emonddr just curious, was this depends on any specific data-source-juggler version?
`    // Prevent adding too many listeners to the 'connected' event on the datasource.
    if (this.dataSource.listenerCount('connected') <
        this.dataSource.getMaxOfflineRequests()) { `

[2019-09-20 15:29] #133 closed

[2019-09-20 18:29] emonddr commented on #152
@a-astakhov , @whomobile

https://github.com/strongloop/loopback-datasource-juggler/commits/3.x

![image](https://user-images.githubusercontent.com/6864736/65350064-e0947c80-dbb2-11e9-9f2f-f721131825a7.png)

https://github.com/strongloop/loopback-datasource-juggler/commit/2680778841f6255753334f5463bbe72d6c01cceb

[2019-09-20 18:31] emonddr commented on #152
Was needed alongside

https://github.com/strongloop/loopback-connector/commits/master

![image](https://user-images.githubusercontent.com/6864736/65350230-3cf79c00-dbb3-11e9-969f-56c93945abc3.png)

https://github.com/strongloop/loopback-connector/commit/819bf8b57fdc44028e3ede8bcd613ed1ff9195f2

[2019-09-20 20:29] emonddr commented on #152
Needs to be at least 3.32.0

[2019-09-20 21:50] dhmlau commented on #152
@a-astakhov @whomobile , would you be able to update the juggler to at least 3.32.0 as @emonddr suggested?
Please note that loopback-datasource-juggler@2.x has reached end of life in April this year. See https://github.com/strongloop/loopback-datasource-juggler#supported-versions. So it's recommended that you update it to a more recent version of this module. Thanks.

[2019-09-23 13:20] luke-jia opened #154 "Issue - there is an error in lib/sql.js:638 of the latest version of code"
# Description/Steps to reproduce
loopback-connector/lib/sql.js:638
        ),
        ^
SyntaxError: Unexpected token )
    at createScript (vm.js:53:10)
    at Object.runInThisContext (vm.js:95:10)
    at Module._compile (module.js:543:28)
    at Object.Module._extensions..js (module.js:580:10)
    at Module.load (module.js:488:32)
    at tryModuleLoad (module.js:447:12)
    at Function.Module._l

[2019-09-23 14:38] dhmlau commented on #154
@luke-jia, what's your Node.js version you're using? And could you please run the following command to list the LB modules you're using?  Thanks.
[code]

[2019-10-01 18:24] #128 closed

[2019-10-01 18:24] #139 closed

[2019-10-02 08:28] Debardeur commented on #152
Hello,

I'm still facing the same issue.

`{
     "loopback": "^3.19.0",
    "loopback-boot": "^2.6.5",
    "loopback-connector": "4.8.0",
    "loopback-datasource-juggler": "3.32.0",
    "loopback-component-explorer": "^6.0.0",
    "loopback-component-passport": "^3.11.0",
    "loopback-connector-postgresql": "^3.6.1"
}`

[2019-10-02 08:53] HugoPoi commented on #125
@jannyHou @dhmlau @emonddr Is this fix ? I think no.

[2019-10-02 23:06] alejandroBrb commented on #154
I have the same issue with node v10.16.3 and

[code]

[2019-10-04 02:18] dhmlau commented on #152
@whomobile, thanks for your update.  With the comments above from me and @emonddr, I'm closing this issue.  If you encounter other errors after upgrading to loopback@3.x or loopback-datasource-jugger@3.x, feel free to open a new ticket. Thanks!

[2019-10-04 02:18] #152 closed

[2019-10-04 02:20] dhmlau commented on #154
@luke-jia @alejandroBrb , sorry about the late response.  Could you please provide steps to reproduce and possibly a sample application as well?
@luke-jia, you've mentioned it doesn't work in the latest version of code. Could you also please elaborate on the module name, the version that used to work and the version that no longer works. Thanks!

[2019-10-04 14:18] bajtos commented on #125
This hasn't been fixed yet. I am afraid the fix is complicated, see the discussion in https://github.com/strongloop/loopback-connector/pull/132.

@HugoPoi would you like to look into this problem yourself and contribute a fix? Feel free to take over the code from #132.

[2019-10-07 11:40] bajtos commented on #154
Here is the relevant code, assuming we are talking about the latest version:

https://github.com/strongloop/loopback-connector/blob/fa7a4b2d66efed82d46c9c32d9d7d6f222caccdc/lib/sql.js#L634-L639

I suspect the problem could be in the trailing comma `,` character in arguments of a function call. It's a relatively recent JS/ES feature that is very likely not supported by older version of Node (e.g. N

[2019-10-07 11:43] bajtos commented on #151
IMO, this is unrelated. We want "HasManyThrough using HasMany" to work across databases (e.g. have the "source" model in SQL and "target" model in MongoDB), thus the initial implementation cannot rely on SQL JOINs. Later, as a performance optimization, we would like to leverage SQL JOINs when all models are connected to the same datasource.

[2019-10-07 17:05] Balthair94 commented on #154
I removed the commas and it worked.

    "loopback": "^3.26.0",
    "loopback-boot": "^2.6.5",
    "loopback-component-explorer": "^4.0.0",
    "loopback-component-migrate": "^0.3.5",
    "loopback-component-storage": "^3.2.0",
    "loopback-connector-postgresql": "^3.6.1",
    "loopback-connector-rest": "^2.1.0",
    "loopback-context": "^3.1.0",

[2019-10-10 01:41] dhmlau commented on #154
@Balthair94, thanks for trying it out.  Would you like to submit a patch? Thanks.

[2019-10-15 09:09] navidarry opened #155 "create neo4j conector for lb4"
Hi
I am trying to create lb4 connector for neo4j graph based on lb3 doc. beacuse there is not documentation for creating custom lb4 connector.
Am I should use typescript or i can use javascript??
beyond of this, please please please make a doc for javascript developer to use lb4 without hedache

[2019-10-15 14:43] bajtos commented on #155
Hi @navidarry, first of all, sorry for the sad state of our documentation of connector developers.

We haven't changed the API contract for connectors yet (but see https://github.com/strongloop/loopback-next/issues/889), which means you can use JavaScript. It also means you have to use callbacks, Promises/async/await is not supported yet.

Please upvote https://github.com/strongloop/loopback-next/

[2019-10-15 14:43] #155 closed

[2019-10-18 16:12] heiisenberrg commented on #154
Add "maxOfflineRequests": 20 in datasource.json

`"postgres": {
    "host": "${DB_HOST}",
    "port": "${DB_PORT}",
    "database": "${DB_NAME}",
    "password": "${DB_PASSWORD}",
    "name": "postgres",
    "user": "${DB_USER_NAME}",
    "connector": "postgresql",
    "maxOfflineRequests": 20
  }`

[2019-10-21 05:00] luke-jia commented on #154
@dhmlau After I upgrade the node from 7 to 8.9.0, the issue disappeared. However, I still recommend you to fix this compatible issue. Thanks.

[2019-10-30 07:30] c0derGitHub commented on #154
Set number of maxOfflineRequests, then ok!
I see the difference in tag@4.7.0
`if (!(model in self._models)) {
      return process.nextTick(function() {
        done(new Error(g.f('Model not found: %s', model)));
      });
    }`
and in tag@4.9.0
`if (!this.dataSource.connected) {
    // Prevent adding too many listeners to the 'connected' event on the datasource.
    if (this.dataSource.listenerC

[2019-11-19 09:04] regevbr opened #161 "Wrong queries causes unhandled exceptions"
## Steps to reproduce

Run a select query (`all()`) with order by on a bogus field that includes `?` char in it
https://github.com/strongloop/loopback-connector/blob/deb461ea62e6226f053774fb10c1f023d6061f8c/lib/sql.js#L1455-L1459

## Current Behavior

an unhandled exception caused by the `buildSelect()` method due to `ParameterizedSQL` class assertion error:

https://github.com/strongloop/loopback

[2019-11-19 10:13] regevbr commented on #161
quick and dirty solution is to tyr/catch the call to `buildSelect`
A more correct solution will be to sanitize the fields used for order by, like done in fields selection

[2019-11-19 18:51] dhmlau commented on #161
@regevbr , would you like to submit a PR? Thanks.

[2019-11-19 18:54] regevbr commented on #161
@dhmlau sure, which solution would you prefer?

[2019-11-19 18:59] jannyHou commented on #161
@regevbr Thank you for willing to submit a patch, I think you can start with try catch the error for `buildSelect` to at least reports a proper error instead of the app hangs.
Then you can add a new test reproduce the failure and add the sanitization for `buildSelect`, maybe in a separate PR.
Let us know if you have any questions.

[2019-11-19 19:02] regevbr commented on #161
Sounds good!

[2019-12-20 13:12] #151 closed

[2020-02-02 01:47] #161 closed

[2020-02-14 16:10] klassicd opened #168 "Automigrate & Autoupdate should use async.eachSeries"
## Suggestion

I'm running into issues with Loopback 4's `migrateSchema()` where it doesn't create tables in a predictable order.   The docs indicate you can specify the order tables are created for Postgres: https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html

In my testing both automigrate() & autoupdate() use `async.each` which runs queries in parallel.   I believe these should be rewr

[2020-02-14 22:51] dhmlau commented on #168
Related to: https://github.com/strongloop/loopback-next/issues/2831

@bajtos, do you think the proposal from @klassicd is something we could try? Thanks.

[2020-02-18 14:59] lotterfriends commented on #168
Please replace async.each with async.eachSeries! It took me days to find out why I got deadlocks at every automigration. If the order is not kept, complex FOREIGN KEY constructs with postgres are impossible. :(

[2020-02-21 23:16] SippieCup opened #169 "Forced order by ID in sql.js causing 40+ second queries for single row queries."
On tables with 100 million+ rows, when querying for a single row using loopback it'll insert an "order by id" forcing the entire table read.

## Steps to reproduce
I am using a postgres server, but it is for pretty much all sql queries.

Example:
We have a model "foo" attached to a SQL table with the columns `id` and `hash`, where `id` is unique, and `hash` is not unique. This table has 100,000,00

[2020-02-22 14:41] klassicd commented on #168
I've submitted a patch here https://github.com/strongloop/loopback-connector/pull/170

I would also like to bring forth another issue I'm running into with the `models` option in `migrateSchema`.

Imagine two tables with a foreign key constraint.
A -> Has Many -> B
B -> Belongs To -> A

If you want to preserve existing data, or the tables don't exist yet, you need need supply A before B in the `mo

[2020-02-24 15:17] agnes512 commented on #169
@SippieCup thanks for bringing up the issue. I agree that `order` is not needed for many use cases.

We currently have a community PR ongoing: https://github.com/strongloop/loopback-connector-postgresql/pull/417. I think it's trying to fix the issue you mentioned. It's proposing to have flag `defaultIdSort` to disable sorting on `id`. Feel free to join the discussion!

[2020-02-26 00:45] SippieCup commented on #169
Thanks, didn't notice that PR before.

While its good for the postgresql connector, I still think it might be worth removing or backporting it to the parent connector for other sql-based datasources.

[2020-02-26 14:02] agnes512 commented on #169
@SippieCup Agreed. I will edit the issue description/acceptance criteria a bit and let the team to estimate it. Thanks!

[2020-02-27 19:57] jannyHou commented on #169
Problem: If order field is not specified, pk will be the default order field in the generated query
Solution:
  - try some quick workaround, e.g. order by 1 or order by '', see if it fixes the problem
  - then we can think of introducing a flag to avoid automatically use the pk when order field is not specified

[2020-02-28 09:25] SippieCup commented on #169
`order by 1` (or whichever column you would like), would only give an improvement if you are selecting the column used in the `where` filter, at which point, it is just redundant versus removing the order by clause entirely. Furthermore, If the user is not selecting fields to return, they would have in know the order of the columns as they appear in the database and select the right column (while

[2020-03-08 10:45] regevbr opened #172 "breaking change in 4.9.0 due to drop of node 6 support"
Hi,

You have dropped support for node 6 in version 4.9.0 which is completely acceptable as it is EOL, but that is a braking change and in order to adhere to semver, you can't publish that breaking change under the same major version.
Sadly, I'm still using node 6 and your change broke all my repositories.

Can you please roll back the release and make the changes in a new major version?

Thanks,

[2020-03-09 14:49] achrinza commented on #172
Suggestion:
- [ ] Re-publish `4.8.0` as `4.11.0`
- [ ] Do not un-publsih `4.9.0`
- [ ] Re-apply upstream changes as `5.0.0`
- [ ] Add docs on backwards-incompatible `4.9.0`

/cc @strongloop/loopback-admins

[2020-03-09 20:06] raymondfeng commented on #172
For the record: When we drop 6.x or 8.x, what we really did was to change engines in package.json. The module is still available for applications that run with lower version of node.

See https://docs.npmjs.com/files/package.json#engines:

[2020-03-09 20:27] regevbr commented on #172
The changes are not node 6 compatible, such as using spread operators...
If the change was just in the engines field, I wouldn't have opened the issue.

[2020-03-09 23:32] achrinza commented on #172
@regevbr thanks for the info;

Regrettably this may be a bit more difficult, as rolling back minor versions is a backwards-incompatible change in itself.

A possible suggestion:

- [ ] Re-publish `4.8.0` as `4.10.2`
- [ ] Do not remove `4.9.0` - `4.10.2` to keep existing package locks functioning.
- [ ] Re-publish `4.10.2` as `5.0.0`
- [ ] Add docs on backwards-incompatible `4.9.0` - `4.10.2`
- [

[2020-03-10 10:20] bajtos commented on #172
Thank you @regevbr for opening the discussion. I agree with you that ideally, when we remove support for a major Node.js version (e.g. `6.x`), then we should publish a major version of our module too.

Unfortunately, this does not work well with our LTS support policy. If we keep supporting EOL versions of Node, and there is a security vulnerability discovered in one of our dependencies, and this

[2020-03-10 10:23] regevbr commented on #172
Hi @bajtos

Thanks for a very detailed response!

I understand your concerns, and I hope that you will find a better way to handle it in future products.

I'm aware of the issues, and working hard towards upgrading my node versions, but that will take time...

[2020-03-10 10:27] bajtos commented on #172
Thank you! ❤️

I am sorry for the troubles we caused. I know from my personal experience how annoying it can be when something that is working perfectly fine suddenly requires a lot of attention because the landscape provided by dependencies shifted a lot.

Good luck! 🍀

[2020-03-10 10:30] regevbr commented on #172
Thank you!

[2020-04-01 14:15] #168 closed

[2020-04-28 08:26] #172 closed

[2020-04-30 16:25] ataft commented on #168
It should be noted that this fixes two of the `.each()` bugs, but that there are many more throughout the individuals connectors. Many of the individual connectors override autoupdate/automigrate and there are also many other functions that use each() instead of eachSeries().

One example is a PR I have to fix the order of MSSQL alterTable:
https://github.com/strongloop/loopback-connector-mssql/pu

[2020-05-29 21:32] ewrayjohnson opened #175 "autoupdate with postgresql connector no longer creates tables before foreign keys"
## Steps to reproduce
upgrade from  "4.10.2" to "4.11.0"

On an empty database using a schema with many relations, from server.js call
app.datasources.pg.autoupdate();

The problem is foreign keys to tables are attempting to be added before the tables are created. I have never seen this before. For example, after the accesstoken table
is successfully created I get: [UnhandledPromiseRejectionWarnin

[2020-06-12 09:13] gavboulton opened #176 "Incorrect error exposed in `isActual` method call"
## Steps to reproduce

Call the [`isActual` method](https://github.com/strongloop/loopback-connector/blob/7d43b461d13e2e67fd07cee4ae22c1e19d0ea848/lib/sql.js#L94-L128) on a datasource during a migration.

## Current Behavior

The `isActual` method eventually calls the [`execute` method](https://github.com/strongloop/loopback-connector/blob/7d43b461d13e2e67fd07cee4ae22c1e19d0ea848/lib/sql.js#L543-L

[2020-06-12 09:14] gavboulton commented on #176
I'm happy to open a PR to fix this issue. Unfortunately there are no unit tests covering the `isActual` method.

[2020-07-13 21:40] ewrayjohnson commented on #161
I have encountered this error and have a unique perspective on the cause.  For me, one of the parameters is a very large Buffer.  The assert statement always appends the parameters even if the assertion is true and the parameters are never displayed.

[2020-08-04 19:50] agnes512 commented on #175
https://github.com/strongloop/loopback-connector/pull/170

[2020-08-16 11:08] gavboulton commented on #176
🙁

[2020-08-26 22:46] ttdna commented on #23
Any updates on this for LoopBack 4?

[2020-08-28 10:01] hi-ko-wi opened #182 "automigrate fails with foreign keys (on postgresql)"
## Steps to reproduce

- Create two models A and B and a foreign key referencing from model B to model A
- Pass the model order [A, B] to migrateSchema
- Run migrateSchema({ existingSchema: 'drop' ... }) to create tables the first time
- Run migrateSchema({ existingSchema: 'drop' ... }) to recreate

## Current Behavior

When recreating, the tables are dropped and created table-by-table, so droppin

[2020-09-11 11:45] bajtos commented on #176
Thank you @gavboulton for a detailed bug report with links to the relevant code and sorry for a late reply.

+1, I fully agree with you.

Yeah, the connector code base is a kind of a legacy that does not have a good code coverage by unit tests.

I see we have some migration-related tests in [test/automigrate.test.js](https://github.com/strongloop/loopback-connector/blob/master/test/automigrate.tes

[2020-09-11 11:55] bajtos commented on #169
I like the second solution more, it seems more elegant and easier to implement to me. However, I am concerned about backwards compatibility - changing the default sort order is likely to affect all existing LoopBack applications out there.

I think we need to implement a feature flag to allow users to keep the old behavior. This feature flag should be initially enabled by default. After some time,

[2020-09-22 23:18] SippieCup commented on #169
Sorry for the late response, Didn't notice this until now due to the extreme workload I have due to covid. I can take a look at it next week and see about upstreaming the changes in a more usable way for connectors. We ended up [just removing the code](https://github.com/SippieCup/loopback-connector/commit/94e0ee74a2b0dde2ab61170a03c39b59ea00f97e) from the base connector.

Now that You guys have d

[2020-09-29 09:47] bajtos commented on #169
@SippieCup awesome, I am looking forward to review your pull request(s). I have assigned the issue to you, so that others know somebody is already working on it.

[2020-09-29 11:42] bajtos commented on #154
The minimum Node.js version required by LoopBack is 10.x. Node.js 10 does support trailing comma in function call arguments.

I am closing this issue as wont-fix.

[2020-09-29 11:42] #154 closed

[2020-11-06 15:01] QPierre1 opened #184 "Allow only sql string type limits mysql connector usage"
Hi, I'm using loopback-connector in a loopback 4 project and I'm trying to use nestTables option from mysql lib (https://www.npmjs.com/package/mysql#joins-with-overlapping-column-names).

In the mysql library and with this specific use case, the option is an object and not a string but loopback-connector prevents me to use this option because of [this assertion](https://github.com/strongloop/loopb

[2020-11-26 15:02] bajtos commented on #184
Thank you @QPierre1 for a detailed bug report. Can you please post an example of a `nestTables` query object you are sending to the connector?

It makes me wonder, does this execution mode support parameterized SQL statements too, or must the `sql` be always the full query with no parameters? I am concerned about opening doors to SQL injection attacks if it's not possible to use parameterized SQL.

[2020-11-26 15:02] bajtos commented on #175
Closing as fixed via #170

[2020-11-26 15:02] #175 closed

[2020-12-16 15:28] QPierre1 commented on #184
nestTables is a boolean but according to the mysql package source code, options could be an object with different keys.
https://github.com/mysqljs/mysql/blob/3430c513d6b0ca279fb7c79b210c9301e9315658/lib/Connection.js#L35

Then, sql is used to instantiate a Query Sequence :
https://github.com/mysqljs/mysql/blob/3430c513d6b0ca279fb7c79b210c9301e9315658/lib/protocol/sequences/Query.js#L12

Mysql npm

[2020-12-30 17:54] hugofialho opened #186 "MySQL full text seach"
## Suggestion

Suport full text search in mysql using match against

## Examples

To query data i thought this:
{"where": {"fts": { "match": ["column1", "column2"], "against":"filter" }}}

I studied the code and implament this inside de method 'SQLConnector.prototype._buildWhere'

[code]

## Acceptance criteria

This idea and implamentarion are good?

[2021-01-05 14:11] bajtos commented on #184
Cool 👍🏻

Would you like to contribute a pull request to loopback-connector and loopback-connector-mysql to implement these changes?

[2021-01-05 14:14] bajtos commented on #186
Hi @hugofialho, thank you for the suggestion. Do you happen to know if other SQL databases like PostgreSQL, MSSQL and Oracle support the same `MATCH(...) AGAINST (...)` syntax? If not, then we need to find a way how to implement your proposal in loopback-connector-mysql only.

Also your implementation is prone to SQL injection attacks, we need to find a way how to provide `match` and `against` val

[2021-01-05 14:16] bajtos commented on #186
See https://loopback.io/doc/en/contrib/code-contrib.html to learn about the contribution process in general and https://github.com/strongloop/loopback-connector-mysql#running-tests for instructions on how to test the MySQL connector. Inside this repository (loopback-connector), we are using typical Node.js workflow - `npm i` to install dependencies, `npm t` to run the tests. There should be no ext

[2021-01-12 17:26] hugofialho commented on #186
Hello @bajtos, unfortunatly each database has a unique sintax for full text search. I taked a look in loopback-connector-mysql and not see any part obvious wich can implement this suggestion. Do you have any adivise how can i implament this inside loopback-connector-mysql?

[2021-01-29 16:11] bajtos commented on #186
Take a look at this pull request: https://github.com/strongloop/loopback-connector-postgresql/pull/460 It added support for a new custom `where` operator `contains`. I think you should be able to follow the same approach and add a new custom `where` operator like `fts` to the MySQL connector.

[2021-06-02 10:16] migutak commented on #154
How was this resolved? I get same error for oracle database

Unhandled error in GET /: 500 Error: Event listener limit reached. Increase maxOfflineRequests value in datasources.json.
    at Oracle.SQLConnector.execute (/app/node_modules/loopback-connector/lib/sql.js:580:33)
    at Promise (/app/node_modules/loopback-datasource-juggler/lib/datasource.js:2720:20)

[2021-07-21 04:26] #182 closed

[2021-07-21 04:26] #176 closed

[2021-08-10 11:31] akshatdubeysf commented on #186
@bajtos I am trying to implement this, and will raise a PR soon.

[2021-08-29 05:58] akshatdubeysf commented on #186
I have raised a PR for this - https://github.com/loopbackio/loopback-connector-mysql/pull/454

[2021-09-20 21:34] #184 closed

[2021-09-21 11:49] pavlo-viazovskyi opened #189 "Disable default dates encoding for BinaryPacker"
Custom `encodeDate`, `decodeDate` functions are not used by _msgpack5_, because custom types encoding happens after `Date` type encoding inside `msgpack.encode` function.

This can be fixed by disabling default `Date`s encoding in [following line](https://github.com/loopbackio/loopback-connector/blob/2fb7979f04f1e94407f525c08228f047f0ac65b1/lib/binary-packer.js#L21) adding `disableTimestampEncodin

[2022-03-29 13:29] renovate[bot] opened #197 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore: update dependency debug to ^4.3.4
 - [ ] chore: update dependency eslint to ^7.32.0
 - [ ] chore: update dependency loopback-datas

[2022-05-10 14:38] achrinza opened #220 "`Connector.prototype.isRelational` returns a function"
## Steps to reproduce

Call `new Connector(/*...*/).isRelational()`

Offending line:

https://github.com/loopbackio/loopback-connector/blob/e85797318c76890c387050c39e84e09cc83214a2/lib/connector.js#L36-L37

## Current Behavior

It returns itself (a function), which then requires a 2nd call to get the expected boolean value.

## Expected Behavior

`Connector.prototype.isRelational` should strictly

[2022-07-05 11:50] nflaig commented on #98
you can increase this limit by setting `maxOfflineRequests` in your connector settings to a higher number, see [datasource juggler ](https://github.com/loopbackio/loopback-datasource-juggler/blob/master/lib/datasource.js#L2742)

[2022-07-10 13:00] samarpanB opened #227 "Add capability for creating multiple rows in single query using insert into values (), (), () dialect"
## Suggestion

There is no support for inserting multiple rows in one query which is pretty much a standard of SQL. There is a standard dialect for this too which most of the SQL databases support like mysql, postgres, sqlserver, oracle, etc. Connector should have basic support for this with a flag for enabling/disabling at derived connector types for each database.
There are some databases which

[2022-08-05 06:09] tommi-leino-fidera opened #229 "Retire deprecated Bluebird dependency"
## Suggestion

Can we retire the Bluebird dependency? It is in practice deprecated:
https://github.com/petkaantonov/bluebird/
https://github.com/petkaantonov/bluebird/issues/1684

[2022-08-07 14:05] achrinza commented on #229
I'd like to propose this change as part of a TypeScript rewrite & package fix up.

I'll see if I can prepare a draft PR in the upcoming weeks for a "v6 alpha" to test the waters.

Loosely-related: https://github.com/loopbackio/loopback-datasource-juggler

[2022-09-22 14:42] #227 closed